.temp{
	padding: 60px ;
	width: 100%;
	margin: 0px auto;
	background-color: brown;
	margin-top: 100px;
}

.le h1{
	font-size: 40px;
	margin-right: 20px;
}
.le p{ font-size: 25px;}

.ri img{ width: 600px; height: 300px; margin-left: 60px; border: 0px;align-items: center; }
.ri button{
  font-size: 17px;
    font-weight: 600;
    color: white;
    text-transform: uppercase;
    background: linear-gradient(57deg, #00C6A7 , #1E4D92 ); 
    border-radius: 4px 4px 4px 4px;
    padding: 20px 35px ; 
}

.tepa{
	padding: 60px ;
	width: 100%;
	margin: 0px auto;
	background-color: orange;
	margin-top: 100px;
}

.le h1{
	font-size: 40px;
	margin-right: 20px;
}
.le p{ font-size: 25px;}

.ri img{ width: 600px; height: 300px; margin-left: 60px; border: 0px;align-items: center; }
.ri button{
  font-size: 17px;
    font-weight: 600;
    color: white;
    text-transform: uppercase;
    background: linear-gradient(57deg, #00C6A7 , #1E4D92 ); 
    border-radius: 4px 4px 4px 4px;
    padding: 20px 35px ; 
}

.plc{
	padding: 60px ;
	width: 100%;
	margin: 0px auto;
	background-color: red;
	margin-top: 100px;
}

.le h1{
	font-size: 40px;
	margin-right: 20px;
}
.le p{ font-size: 25px;}

.ri img{ width: 600px; height: 300px; margin-left: 60px; border: 0px;align-items: center; }
.ri button{
  font-size: 17px;
    font-weight: 600;
    color: white;
    text-transform: uppercase;
    background: linear-gradient(57deg, #00C6A7 , #1E4D92 ); 
    border-radius: 4px 4px 4px 4px;
    padding: 20px 35px ; 
}
.roe{
	padding: 60px ;
	width: 100%;
	margin: 0px auto;
	background-color: pink;
	margin-top: 100px;
}

.le h1{
	font-size: 40px;
	margin-right: 20px;
}
.le p{ font-size: 25px;}

.ri img{ width: 600px; height: 300px; margin-left: 60px; border: 0px;align-items: center; }
.ri button{
  font-size: 17px;
    font-weight: 600;
    color: white;
    text-transform: uppercase;
    background: linear-gradient(57deg, #00C6A7 , #1E4D92 ); 
    border-radius: 4px 4px 4px 4px;
    padding: 20px 35px ; 
}
.ac{
	padding: 60px ;
	width: 100%;
	margin: 0px auto;
	background-color: green;
	margin-top: 100px;
}

.le h1{
	font-size: 40px;
	margin-right: 20px;
}
.le p{ font-size: 25px;}

.ri img{ width: 600px; height: 300px; margin-left: 60px; border: 0px;align-items: center; }
.ri button{
  font-size: 17px;
    font-weight: 600;
    color: white;
    text-transform: uppercase;
    background: linear-gradient(57deg, #00C6A7 , #1E4D92 ); 
    border-radius: 4px 4px 4px 4px;
    padding: 20px 35px ; 
}
.ips{
	padding: 60px ;
	width: 100%;
	margin: 0px auto;
	background-color: blue;
	margin-top: 100px;
}

.le h1{
	font-size: 40px;
	margin-right: 20px;
}
.le p{ font-size: 25px;}

.ri img{ width: 600px; height: 300px; margin-left: 60px; border: 0px;align-items: center; }
.ri button{
  font-size: 17px;
    font-weight: 600;
    color: white;
    text-transform: uppercase;
    background: linear-gradient(57deg, #00C6A7 , #1E4D92 ); 
    border-radius: 4px 4px 4px 4px;
    padding: 20px 35px ; 
}
.hmi{
	padding: 60px ;
	width: 100%;
	margin: 0px auto;
	background-color: pink;
	margin-top: 100px;
}

.le h1{
	font-size: 40px;
	margin-right: 20px;
}
.le p{ font-size: 25px;}

.ri img{ width: 600px; height: 300px; margin-left: 60px; border: 0px;align-items: center; }
.ri button{
  font-size: 17px;
    font-weight: 600;
    color: white;
    text-transform: uppercase;
    background: linear-gradient(57deg, #00C6A7 , #1E4D92 ); 
    border-radius: 4px 4px 4px 4px;
    padding: 20px 35px ; 
}

